table{width: 100%;}
td, th{padding: 10px;}
body { padding-top: 70px; }


.head-b{
	background-color: #2C3E50;
	color: white;
}

.head-r{
  background-color: #E74C3C;
  color: white;
  text-align: center;
}

.table-color{
	background-color: #ECF0F1;
}


.s-list:hover{
  background-color: #e3ffdb;
}

.bggrey{
	background-color: #e6e6e6;
	box-shadow: 1px 1px 1px #888888;
}

.pan5{
	padding: 5px;
}

.pan10{
	padding: 10px;
}

.mar10{
	margin: 10px;
}

.mart10{
	margin-top: 10px;
}

.mart20{
	margin-top: 20px;
}

.textr{
	text-align: right;
}

.textl{
	text-align: left;
}

.flor{
	float: right;
}

.flol{
	float: left;
}

.fullcol{
	width: 100%;
}
